---
import '../styles/global.css';

import BaseLayout from '../layouts/base-layout.astro';
import Greeting from '../components/greeting';
const pageTitle = "Home Page";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<BaseLayout pageTitle={pageTitle}>
			<h1>My Astro website</h1>
			<Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]} />
		</BaseLayout>
	</body>
	<script>
		import "../scripts/menu.js";
	</script>
</html>
